spacy>=3.8,<3.9
# українська модель зі floret-векторами та лематизацією
uk_core_news_md @ https://github.com/explosion/spacy-models/releases/download/uk_core_news_md-3.8.0/uk_core_news_md-3.8.0-py3-none-any.whl

# Telegram-бот
python-telegram-bot[job-queue]~=22.8
python-dotenv>=1.0
